In [1]:
import pandas as pd

In [2]:
csv_path = "Resources/cities.csv"
cities_df = pd.read_csv(csv_path)
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,savinka,50.08,47.10,25.09,72,0,9.91,RU,1605855250
1,pangnirtung,66.15,-65.71,6.31,88,47,3.78,CA,1605855250
2,hithadhoo,-0.60,73.08,81.59,69,100,5.68,MV,1605855251
3,kasane,-17.82,25.15,69.80,100,75,6.93,BW,1605855251
4,leninsk-kuznetskiy,54.66,86.17,15.80,78,90,11.18,RU,1605855251

In [3]:
cities_df.to_html("cities_table.html")